In [1]:
import os,sys
from dotenv import find_dotenv,load_dotenv
load_dotenv(find_dotenv())
src_path = os.environ.get('PROJECT_SRC')
os.chdir(src_path)

In [2]:
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 22})
plt.style.use('ggplot')
import pandas as pd
import numpy as np
import cartopy.crs as ccrs
import cartopy.feature

In this notebook, we performed the scalling of the fututre energy scenario load data by subtracting the heat pump profile.

In [3]:
fes_year='2022'

In [4]:

if fes_year=='2016':
    hp_profile=pd.read_csv('data/Scaling_FES_Demand/Historical Years/hploads-p_set.csv',index_col=0)
    total_profile=pd.read_csv('data/Scaling_FES_Demand/Historical Years/totalloads-p_set.csv',index_col=0)
    df_fes_load=pd.read_csv('data/Scaling_FES_Demand/Historical Years/estimated_fes_load.csv',index_col=0)
    cop_profile=pd.read_csv('data/Scaling_FES_Demand/Historical Years/links-efficiency.csv',index_col=0)
elif fes_year=='2022':
    hp_profile=pd.read_csv('data/Scaling_FES_Demand/Future Years/2022/hploads-p_set.csv',index_col=0)
    total_profile=pd.read_csv('data/Scaling_FES_Demand/Future Years/2022/totalloads-p_set.csv',index_col=0)
    df_fes_load=pd.read_csv('data/Scaling_FES_Demand/Future Years/2022/estimated_fes_load.csv',index_col=0)
    cop_profile=pd.read_csv('data/Scaling_FES_Demand/Future Years/2022/links-efficiency.csv',index_col=0)
elif fes_year=='2035':
    hp_profile=pd.read_csv('data/Scaling_FES_Demand/Future Years/2035/hploads-p_set.csv',index_col=0)
    total_profile=pd.read_csv('data/Scaling_FES_Demand/Future Years/2035/totalloads-p_set.csv',index_col=0)
    df_fes_load=pd.read_csv('data/Scaling_FES_Demand/Future Years/2035/estimated_fes_load.csv',index_col=0)
    cop_profile=pd.read_csv('data/Scaling_FES_Demand/Future Years/2035/links-efficiency.csv',index_col=0)

In [5]:
total_profile

,Beauly,Peterhead,Errochty,Denny/Bonnybridge,Neilston,Strathaven,Torness,Eccles,Harker,Stella West,...,Bramford,Pelham,Sundon/East Claydon,Melksham,Bramley,London,Kemsley,Sellindge,Lovedean,S.W.Penisula
name,,,,,,,,,,,,,,,,,,,,,
01/01/2022 00:00,200.584386,263.372404,76.372672,655.496339,812.336302,217.503617,199.788441,62.109171,274.734376,1495.505149,...,724.917053,415.380353,1495.274816,2267.290753,709.303040,4745.983241,774.605384,398.207590,1043.280962,1382.283119
01/01/2022 01:00,179.444630,235.615365,68.323692,586.413030,726.723498,194.580729,178.732569,55.563434,245.779890,1337.892606,...,648.517437,371.603069,1337.686549,2028.339079,634.548998,4245.800087,692.969073,356.240158,933.328707,1236.603141
01/01/2022 02:00,177.989812,233.705153,67.769769,581.658785,720.831710,193.003198,177.283525,55.112962,243.787271,1327.045867,...,643.259691,368.590359,1326.841480,2011.894661,629.404499,4211.377977,687.350943,353.352001,925.761901,1226.577590
01/01/2022 03:00,179.144360,235.221103,68.209364,585.431769,725.507452,194.255132,178.433491,55.470458,245.368620,1335.653874,...,647.432254,370.981255,1335.448161,2024.945003,633.487189,4238.695472,691.809509,355.644051,931.766942,1234.533899
01/01/2022 04:00,167.330931,219.709770,63.711391,546.826274,677.664857,181.445243,166.666939,51.812534,229.188122,1247.576010,...,604.738222,346.517405,1247.383863,1891.412781,591.712745,3959.180510,646.189079,332.191592,870.322848,1153.124254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31/12/2022 19:00,264.689457,347.543993,100.780731,864.987416,1071.952102,287.015931,263.639134,81.958736,362.537155,1973.455923,...,956.594401,548.132394,1973.151978,2991.897668,935.990282,6262.759275,1022.162702,525.471362,1376.704719,1824.049092
31/12/2022 20:00,259.293224,340.458601,98.726111,847.352887,1050.098178,281.164527,258.264314,80.287840,355.146098,1933.223009,...,937.092278,536.957600,1932.925261,2930.901747,916.908216,6135.080185,1001.323836,514.758559,1348.637792,1786.862140
31/12/2022 21:00,235.836456,309.659268,89.794927,770.697740,955.101829,255.729188,234.900625,73.024661,323.018071,1758.335432,...,852.318924,488.382131,1758.064619,2665.759907,833.960798,5580.074733,910.739822,468.191310,1226.634280,1625.214990
31/12/2022 22:00,212.089997,278.479563,80.753443,693.095904,858.932278,229.979723,211.248395,65.671781,290.493264,1581.287996,...,766.498621,439.206756,1581.044452,2397.343570,749.988982,5018.214974,819.037097,421.048956,1103.124027,1461.571500
31/12/2022 23:00,207.255878,272.132242,78.912848,677.298326,839.354829,224.737847,206.433459,64.174939,283.872116,1545.246057,...,749.027991,429.196016,1545.008063,2342.701460,732.894652,4903.835936,800.368970,411.452083,1077.980771,1428.258232

In [6]:
total_profile

,Beauly,Peterhead,Errochty,Denny/Bonnybridge,Neilston,Strathaven,Torness,Eccles,Harker,Stella West,...,Bramford,Pelham,Sundon/East Claydon,Melksham,Bramley,London,Kemsley,Sellindge,Lovedean,S.W.Penisula
name,,,,,,,,,,,,,,,,,,,,,
01/01/2022 00:00,200.584386,263.372404,76.372672,655.496339,812.336302,217.503617,199.788441,62.109171,274.734376,1495.505149,...,724.917053,415.380353,1495.274816,2267.290753,709.303040,4745.983241,774.605384,398.207590,1043.280962,1382.283119
01/01/2022 01:00,179.444630,235.615365,68.323692,586.413030,726.723498,194.580729,178.732569,55.563434,245.779890,1337.892606,...,648.517437,371.603069,1337.686549,2028.339079,634.548998,4245.800087,692.969073,356.240158,933.328707,1236.603141
01/01/2022 02:00,177.989812,233.705153,67.769769,581.658785,720.831710,193.003198,177.283525,55.112962,243.787271,1327.045867,...,643.259691,368.590359,1326.841480,2011.894661,629.404499,4211.377977,687.350943,353.352001,925.761901,1226.577590
01/01/2022 03:00,179.144360,235.221103,68.209364,585.431769,725.507452,194.255132,178.433491,55.470458,245.368620,1335.653874,...,647.432254,370.981255,1335.448161,2024.945003,633.487189,4238.695472,691.809509,355.644051,931.766942,1234.533899
01/01/2022 04:00,167.330931,219.709770,63.711391,546.826274,677.664857,181.445243,166.666939,51.812534,229.188122,1247.576010,...,604.738222,346.517405,1247.383863,1891.412781,591.712745,3959.180510,646.189079,332.191592,870.322848,1153.124254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31/12/2022 19:00,264.689457,347.543993,100.780731,864.987416,1071.952102,287.015931,263.639134,81.958736,362.537155,1973.455923,...,956.594401,548.132394,1973.151978,2991.897668,935.990282,6262.759275,1022.162702,525.471362,1376.704719,1824.049092
31/12/2022 20:00,259.293224,340.458601,98.726111,847.352887,1050.098178,281.164527,258.264314,80.287840,355.146098,1933.223009,...,937.092278,536.957600,1932.925261,2930.901747,916.908216,6135.080185,1001.323836,514.758559,1348.637792,1786.862140
31/12/2022 21:00,235.836456,309.659268,89.794927,770.697740,955.101829,255.729188,234.900625,73.024661,323.018071,1758.335432,...,852.318924,488.382131,1758.064619,2665.759907,833.960798,5580.074733,910.739822,468.191310,1226.634280,1625.214990
31/12/2022 22:00,212.089997,278.479563,80.753443,693.095904,858.932278,229.979723,211.248395,65.671781,290.493264,1581.287996,...,766.498621,439.206756,1581.044452,2397.343570,749.988982,5018.214974,819.037097,421.048956,1103.124027,1461.571500
31/12/2022 23:00,207.255878,272.132242,78.912848,677.298326,839.354829,224.737847,206.433459,64.174939,283.872116,1545.246057,...,749.027991,429.196016,1545.008063,2342.701460,732.894652,4903.835936,800.368970,411.452083,1077.980771,1428.258232

In [7]:
electrifiedheat=hp_profile/cop_profile      # input electricity for the heat pump

In [8]:
total_profile
electrifiedheat

,Beauly,Peterhead,Errochty,Denny/Bonnybridge,Neilston,Strathaven,Torness,Eccles,Harker,Stella West,...,Bramford,Pelham,Sundon/East Claydon,Melksham,Bramley,London,Kemsley,Sellindge,Lovedean,S.W.Penisula
name,,,,,,,,,,,,,,,,,,,,,
01/01/2022 00:00,4.568983,14.780877,6.187894,45.191228,8.021862,90.954878,16.423466,5.132206,10.086358,55.108044,...,39.671269,19.100922,51.700297,54.107535,46.587723,248.278239,63.180294,13.968101,65.035545,31.378553
01/01/2022 01:00,4.568983,15.761096,6.187894,45.191228,8.021862,90.954878,19.876192,6.211157,11.433474,58.874081,...,44.444243,19.100922,58.123188,61.841571,52.894982,281.436275,63.180294,15.992153,73.843581,33.898302
01/01/2022 02:00,4.568983,17.475463,7.976185,58.251418,8.021862,90.954878,23.100001,7.218572,10.086358,77.509441,...,51.392213,19.100922,51.700297,72.107745,61.367195,326.522125,83.223588,18.400087,73.843581,33.898302
01/01/2022 03:00,5.672708,19.461318,8.837263,64.540013,11.646687,132.054501,25.843335,8.075843,14.574614,87.154642,...,57.217415,19.100922,77.093770,72.107745,52.894982,369.013163,94.048980,20.759481,96.659448,44.441261
01/01/2022 04:00,6.380700,21.082429,8.837263,64.540013,11.646687,132.054501,27.746660,8.670617,15.830748,58.874081,...,61.539038,19.100922,83.329265,87.495216,74.710190,398.863026,101.822680,20.759481,104.828800,47.799188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31/12/2022 19:00,16.872890,45.027114,24.184469,176.623235,36.298363,411.564441,60.429301,18.883691,59.219892,223.560621,...,81.980288,35.663241,51.700297,161.933641,61.367195,380.054588,88.644493,16.339534,117.493170,103.497762
31/12/2022 20:00,16.872890,57.134950,31.361608,229.039086,35.385771,401.217139,55.347586,17.295694,61.974819,243.147872,...,57.217415,35.663241,96.104816,161.933641,52.894982,380.054588,63.180294,20.600315,117.493170,62.350833
31/12/2022 21:00,16.872890,47.311086,31.361608,229.039086,36.298363,411.564441,60.429301,18.883691,41.371937,211.107884,...,45.570065,19.100922,96.104816,148.545834,61.174461,426.241098,88.439540,21.211224,138.638428,83.860537
31/12/2022 22:00,16.872890,74.161756,31.361608,229.039086,36.261429,411.145671,86.956345,27.173187,55.564533,211.107884,...,45.570065,35.663241,79.366579,259.343414,117.741831,322.283067,81.871001,15.600131,104.828800,112.443270
31/12/2022 23:00,16.872890,57.134950,24.184469,176.623235,36.261429,411.145671,74.393289,23.247329,57.819012,211.107884,...,83.951780,58.022014,142.772234,152.728405,117.741831,590.284332,81.597635,17.863881,200.659921,77.233221

In [9]:

scaled_load=total_profile-electrifiedheat

#df_fes_load=pd.read_csv('data/Scaling_FES_Demand/estimated_fes_load.csv',index_col=0)

cols=electrifiedheat.columns.tolist()
for i in cols:
    df_fes_load[i]=scaled_load[i]

In [10]:
df_fes_load['Beauly']
scaled_load['Beauly']

name
01/01/2022 00:00    196.015403
01/01/2022 01:00    174.875646
01/01/2022 02:00    173.420829
01/01/2022 03:00    173.471652
01/01/2022 04:00    160.950231
                       ...
31/12/2022 19:00    247.816567
31/12/2022 20:00    242.420334
31/12/2022 21:00    218.963566
31/12/2022 22:00    195.217107
31/12/2022 23:00    190.382988
Name: Beauly, Length: 8760, dtype: float64

In [11]:
#write the csv file 
if fes_year=='2016':
    df_fes_load.to_csv('data/Scaling_FES_Demand/Historical Years/loads-p_set.csv')
elif fes_year=='2022':
    df_fes_load.to_csv('data/Scaling_FES_Demand/Future Years/2022/loads-p_set.csv')
elif fes_year=='2035':
    df_fes_load.to_csv('data/Scaling_FES_Demand/Future Years/2035/loads-p_set.csv')
elif fes_year=='2050':
    df_fes_load.to_csv('data/Scaling_FES_Demand/Future Years/2050/loads-p_set.csv')

# Aggregate heating demand

In [12]:
if fes_year=='2022':
    hp_profile=pd.read_csv('data/Scaling_FES_Demand/total heating/2022/hourly heat demand total_withHPs_MW.csv',index_col=0)
    dhn_profile=pd.read_csv('data/Scaling_FES_Demand/total heating/2022/hourly heat demand total_withDHN_MW.csv',index_col=0)
    boiler_profile=pd.read_csv('data/Scaling_FES_Demand/total heating/2022/hourly heat demand total_withGasboilers_MW.csv',index_col=0)
elif fes_year=='2035':
    hp_profile=pd.read_csv('data/Scaling_FES_Demand/total heating/2035/hourly heat demand total_withHPs_MW.csv',index_col=0)
    dhn_profile=pd.read_csv('data/Scaling_FES_Demand/total heating/2035/hourly heat demand total_withDHN_MW.csv',index_col=0)
    boiler_profile=pd.read_csv('data/Scaling_FES_Demand/total heating/2035/hourly heat demand total_withGasboilers_MW.csv',index_col=0)
    
elif fes_year=='2050':
    hp_profile=pd.read_csv('data/Scaling_FES_Demand/total heating/2050/hourly heat demand total_withHPs_MW.csv',index_col=0)
    dhn_profile=pd.read_csv('data/Scaling_FES_Demand/total heating/2050/hourly heat demand total_withDHN_MW.csv',index_col=0)
    boiler_profile=pd.read_csv('data/Scaling_FES_Demand/total heating/2050/hourly heat demand total_withGasboilers_MW.csv',index_col=0)

In [13]:
aggregate_total_domestic_heating=hp_profile+dhn_profile+boiler_profile
aggregate_total_domestic_heating.to_csv('data/Scaling_FES_Demand//total heating/aggregate total domestic heating.csv')

In [14]:

aggregate_total_domestic_heating

,Beauly,Peterhead,Errochty,Denny/Bonnybridge,Neilston,Strathaven,Torness,Eccles,Harker,Stella West,...,Bramford,Pelham,Sundon/East Claydon,Melksham,Bramley,London,Kemsley,Sellindge,Lovedean,S.W.Penisula
Timestamp,,,,,,,,,,,,,,,,,,,,,
01/01/2022 00:00,456.475010,684.200583,333.699659,1706.339135,2333.931472,1015.305759,1452.386874,539.267967,734.099194,3484.172054,...,2527.932125,1866.720863,3240.881007,4989.622316,3254.716135,13640.573948,2909.985945,689.302588,3573.882079,2496.302260
01/01/2022 01:00,456.475010,605.184885,333.699659,1706.339135,2333.931472,1015.305759,1386.466638,514.093547,645.125872,3072.696400,...,2230.585014,1866.720863,2853.580724,4375.302851,2862.223763,12030.932884,2909.985945,609.053071,3152.293569,1880.695084
01/01/2022 02:00,456.475010,615.022492,298.026621,1539.795064,2333.931472,1015.305759,1398.361747,518.024404,734.099194,3373.600337,...,2259.012295,1866.720863,3240.881007,4412.951641,2892.321128,12180.841344,2611.947835,617.362968,3152.293569,1880.695084
01/01/2022 03:00,480.791023,739.777076,354.689922,1829.378152,2439.869227,1162.781832,1666.992177,617.782896,776.306006,4017.758399,...,2644.150211,1866.720863,3436.320203,4412.951641,2862.223763,14497.071039,3105.942379,734.391309,3798.525369,2263.554122
01/01/2022 04:00,841.968923,1285.406287,354.689922,1829.378152,2439.869227,1162.781832,2928.045349,1087.958548,1357.944325,3072.696400,...,4667.018843,1866.720863,5989.435808,9239.573452,6018.596442,25188.212274,5365.368237,734.391309,6599.261373,3955.716362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31/12/2022 19:00,6280.158735,2507.501155,4056.329632,20410.778837,38252.428459,13705.575634,10022.135464,3730.841684,14051.119437,33196.872431,...,20611.354374,8543.771550,3240.881007,35877.876722,2892.321128,104489.472387,21165.249939,2038.736484,16144.368144,26494.989448
31/12/2022 20:00,6280.158735,5011.333393,6278.753316,31557.517998,40271.159892,14374.659405,14741.960956,5492.564099,17824.087306,54467.702325,...,2644.150211,8543.771550,17560.143002,35877.876722,2862.223763,104489.472387,2909.985945,5197.558668,16144.368144,10544.284268
31/12/2022 21:00,6280.158735,1816.081587,6278.753316,31557.517998,38252.428459,13705.575634,10022.135464,3730.841684,8253.582209,56210.059882,...,7251.149481,1866.720863,17560.143002,27942.318765,9704.299478,56086.292143,13406.656667,5434.112332,5457.549091,6712.217901
31/12/2022 22:00,6280.158735,8543.256733,6278.753316,31557.517998,35050.502847,12616.521946,29793.073836,11103.750282,13905.176903,56210.059882,...,7401.288757,8543.771550,12193.808889,88369.972059,41915.341382,40434.385237,8572.457613,1783.595875,6599.261373,28478.348248
31/12/2022 23:00,6280.158735,5011.333393,4056.329632,20410.778837,35050.502847,12616.521946,25649.847901,9559.593044,9263.479978,56210.059882,...,13076.500304,16179.302548,39330.540819,51608.775873,41915.341382,78817.508773,3734.750990,2035.972491,42106.798444,13791.622506